

<% if @employment.errors.any? %>
<div class="alert alert-danger">
  <h3>
    <%= pluralize(@employment.errors.count, "Error") %>
    prevented this from from being submitted:
  </h3>
  <% end %>
  <% @employment.errors.full_messages.each do |message| %>
  <ul>
    <li>
      <%= message %>
    </li>
  </ul>
</div>
  <% end %>



<%= form_for @employment do |f| %>
  <div class="form-group">
    <%= f.label :person_id %>
    <%= f.collection_select(:person_id, Person.all, :id, :full_name, {}, {class:"form-control"}) %>
  </div>

  <div class="form-group">
    <%= f.label :organization_id %>
    <%= f.collection_select(:organization_id, Organization.all, :id, :name, {include_blank: true}, {class:"form-control"}) %>
  </div>

  <div class="form-group">
    <%= f.label :job_title_id %>
    <%= f.collection_select(:job_title_id, JobTitle.all, :id, :name, {include_blank: "Select a title, yo!"}, {class:"form-control"} ) %>
  </div>

  <% if current_page?(new_employment_path) %>
    <div class="form-group">
      <%= f.label :location_id %>
      <%= f.collection_select(:location_id, Location.all, :id, :name, {include_blank: true }, {class:"form-control"}) %>
    </div>
    <% else %>
    <div class="form-group">
      <%= f.label :location_id %>
      <%= f.collection_select(:location_id, Location.all, :id, :name, {}, {class:"form-control"}) %>
    </div>
  <% end %>
  <p>
    <%= f.submit class: "btn btn-primary" %>
  </p>
<% end %>
